@model webProject.Models.Hizmet

@{
    ViewData["Title"] = "HizDetay";
}

<h1>HizDetay</h1>

<div>
    <h4>Hizmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "HizDuzenle", new { id = Model.ID }) |
    <a asp-action="HizList">Back to List</a>
</div>
