@model IEnumerable<webProject.Models.Hizmet>

@{
    ViewData["Title"] = "HizList";
}

<h1>HizList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SureDaikia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SureDaikia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                    @Html.ActionLink("Edit", "HizDuzenle", new { id = item.ID }) |
                    @Html.ActionLink("Details", "HizDetay", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "HizSil", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
