@model webProject.Models.Randevu

@{
    ViewData["Title"] = "RanDetay";
}

<h1>RanDetay</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtrenorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtrenorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnayDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnayDurumu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
