@model IEnumerable<webProject.Models.Antrenor>

@{
    ViewData["Title"] = "AtrList";
}

<h1>AtrList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzmanlıkAlanı)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UzmanlıkAlanı)
            </td>
            <td>
                    @Html.ActionLink("Edit", "AntDuzenle", new { id = item.ID }) |
                    @Html.ActionLink("Details", "AntDetay", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "AntSil", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
